:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}

#dailyMenuCard {
  position: sticky;
  top: 15px;
}

mat-card {
  width: 100%;
  margin-bottom: 20px;
}

.product {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.cardsContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}

.mat-fab {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

form {
  display: flex;
  flex-direction: column;
}

ol {
  list-style-type: none;
  padding: 0px;
}
