/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/purple-green.css";

html,
body {
  height: 100%;
}
* {
  color: white;
}
body {
  margin: 5px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(26, 26, 26);
}
